.container-list {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background: #f5f2ff;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 31px;
  list-style: none;
}

.list-title {
  flex-grow: 1;
}

.list-content {
  flex-grow: 4;
}

.button-remove {
  width: 20px;
  height: 20px;
  background: url("../../assets/RemoveIcon.svg") no-repeat center;
  background-size: contain;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.button-dtail {
  width: 20px;
  height: 20px;
  background: url("../../assets/DtailHambuger.svg") no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.container-list button:hover,
.container-list button:active {
  width: 22px;
  height: 22px;
}
